<section class="container mx-auto mt-25">
  <h2 class="text-2xl md:text-3xl font-bold">All Categories :</h2>

  <div class="grid gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 my-5">
    @for(cat of categoriesList ;track $index){
    <div class="p-4 bg-white rounded-xl shadow hover:shadow-lg transition">
      <img
        [src]="cat.image"
        alt="{{ cat.name }}"
        class="w-full h-40 object-cover rounded-md mb-3"
      />

      <h3 class="text-lg font-semibold text-gray-800">{{ cat.name }}</h3>
      <button
        [routerLink]="['/products', cat._id]"
      class="text-white cursor-pointer bg-green-600 hover:bg-green-700 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-green-600 dark:hover:bg-green-700 mt-4 dark:focus:ring-green-800"
      >
        View Products
      </button>
    </div>
    }
  </div>
</section>
