<nav
  class="bg-white dark:bg-gray-900 fixed w-full z-20 top-0 start-0 border-b border-gray-200 dark:border-gray-600">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <!-- Logo -->
    <a routerLink="/home" class="flex items-center space-x-3 rtl:space-x-reverse">
      <img src="images/freshcart-logo.svg" class="h-8" alt="Logo">
    </a>

    <!-- Right side buttons -->
    <div class="flex md:order-2 space-x-3 rtl:space-x-reverse">
      <!-- Sign Out (Desktop only) -->
      <button (click)="signOut()" type="button"
        class="hidden cursor-pointer md:block py-2 px-3 text-gray-900 rounded-sm hover:bg-gray-100 md:hover:bg-transparent 
        md:hover:text-green-700  md:p-0 md:dark:hover:text-green-500 
        dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">
        Sign Out
      </button>

      <!-- Mobile menu button -->
      <button (click)="isMenuOpen = !isMenuOpen" type="button"
        class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden 
        hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 
        dark:hover:bg-gray-700 dark:focus:ring-gray-600"
        aria-controls="navbar-sticky">
        <span class="sr-only">Open main menu</span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
          viewBox="0 0 17 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15" />
        </svg>
      </button>
    </div>

    <!-- Menu links -->
    <div [ngClass]="isMenuOpen ? 'block' : 'hidden'" 
         class="items-center justify-between w-full md:flex md:w-auto md:order-1" id="navbar-sticky">
      <ul
        class="flex flex-col p-4 md:p-0 mt-4 font-medium border border-gray-100 rounded-lg 
        bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 
        md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
        
       <li>
          <a routerLink="/home" routerLinkActive="text-green-700" (click)="isMenuOpen=false"
            class="block py-2 px-3 text-gray-900 rounded-sm hover:bg-gray-100 md:hover:bg-transparent 
            md:hover:text-green-700  md:p-0 md:dark:hover:text-green-500 
            dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">
            Home
          </a>
        </li>
       <li>
          <a routerLink="/products" routerLinkActive="text-green-700" (click)="isMenuOpen=false"
            class="block py-2 px-3 text-gray-900 rounded-sm hover:bg-gray-100 md:hover:bg-transparent 
            md:hover:text-green-700  md:p-0 md:dark:hover:text-green-500 
            dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">
            Products
          </a>
        </li>
        <li>
          <a routerLink="/categories" routerLinkActive="text-green-700" (click)="isMenuOpen=false"
            class="block py-2 px-3 text-gray-900 rounded-sm hover:bg-gray-100 md:hover:bg-transparent 
            md:hover:text-green-700  md:p-0 md:dark:hover:text-green-500 
            dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">
            Categories
          </a>
        </li>
        <li>
          <a routerLink="/brands" routerLinkActive="text-green-700" (click)="isMenuOpen=false"
            class="block py-2 px-3 text-gray-900 rounded-sm hover:bg-gray-100 md:hover:bg-transparent 
            md:hover:text-green-700  md:p-0 md:dark:hover:text-green-500 
            dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">
            Brands
          </a>
        </li>
        <li>
          <i class="fa-solid py-2 px-3 fa-cart-shopping fa-beat cursor-pointer hover:bg-gray-100 md:hover:bg-transparent 
            md:hover:text-green-700  md:p-0 md:dark:hover:text-green-500 
            dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"
            routerLink="/cart" routerLinkActive="text-green-700" (click)="isMenuOpen=false"></i>
        </li>
        <li>
          <i class="fa-solid py-2 px-3 fa-heart fa-beat cursor-pointer  hover:bg-gray-100 md:hover:bg-transparent 
            md:hover:text-green-700  md:p-0 md:dark:hover:text-green-500 
            dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"
            routerLink="/wishlist" routerLinkActive="text-green-700" (click)="isMenuOpen=false"></i>
        </li>

        <!-- Sign Out (Mobile only) -->
        <li class="md:hidden mt-2">
          <button (click)="signOut(); isMenuOpen=false" type="button"
            class="w-full text-left py-2 px-3 text-gray-900 rounded-sm hover:bg-gray-100 
            dark:text-white dark:hover:bg-gray-700">
            Sign Out
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
