<div class="container mx-auto mt-20">
  <div class="md:col-span-2 space-y-6">
    <div class="p-5 bg-white rounded-lg shadow">
      <h2 class="text-2xl md:text-3xl font-bold mb-2 text-center">
        Shipping Address
      </h2>
     

<form [formGroup]="shippingForm" (ngSubmit)="submitForm()">
  <div class="mb-5">
    <label for="details" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Address Details</label>
    <textarea formControlName="details" type="details" rows="4" id="details" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500" placeholder="enter your address"></textarea>

  </div>
  <div class="mb-5">
    <label for="phone" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">phone:</label>
    <input formControlName="phone" type="tel" id="phone" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
  </div>
   <div class="mb-5">
    <label for="city" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">City:</label>
    <input formControlName="city" type="text" id="city" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
  </div>
     <label
        for="payment"
        class="block my-2 text-sm font-medium text-gray-900 dark:text-white"
        >Payment Method:</label
      >

      <div class="flex items-center mb-4">
        <input (click)="method($event)"
          id="default-radio-1"
          type="radio"
          value="cash"
          name="default-radio"
          class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
        />
        <label
          for="default-radio-1"
          class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
          >Cash</label
        >
      </div>
      <div class="flex items-center">
        <input
        (click)="method($event)"
        
          id="default-radio-2"
          type="radio"
          value="visa"
          name="default-radio"
          class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
        />
        <label
          for="default-radio-2"
          class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
          >Visa</label
        >
      </div>
  <button type="submit" class="text-white cursor-pointer bg-green-600 hover:bg-green-700 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-green-600 dark:hover:bg-green-700 mt-4 dark:focus:ring-green-800">Submit</button>
</form>

    </div>
  </div>
</div>
 